body {
    padding: 0px;
    margin: 0px;
    background-color: tomato;
    color: #f6cbc8;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

#profilepic {
    margin: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profilepic img {
    margin: 10px 30px;
    height: 320px;
    /* width: 200px; */
    border-radius: 50%;
    border: none;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}